html
  head
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
  body 
    .col-xs-12
      a(href='/') Back to all teams
    .col-xs-12
      h1 The mavericks are the only team in the NBA who's link redirects to their own website, so their statistics are not in this app
