.col-12
  ul 
    li 
      a(href='/ncaa') NCAA
    li 
      a(href='/bucks') bucks
    li 
      a(href='/bulls') bulls
    li 
      a(href='/cavaliers') cavaliers
    li
      a(href='/celtics') celtics
    li
      a(href='/clippers') clippers
    li 
      a(href='/grizzlies') grizzlies
    li 
      a(href='/hawks') hawks
    li
      a(href='/hornets') hornets
    li 
      a(href='/heat') heat
    li 
      a(href='/jazz') jazz
    li
      a(href='/kings') kings
    li 
      a(href='/knicks') knicks
    li 
      a(href='/lakers') lakers
    li
      a(href='/mavericks') mavericks
    li 
      a(href='/magic') magic
    li
      a(href='/nets') nets
    li 
      a(href='/nuggets') nuggets
    li
      a(href='/pacers') pacers
    li
      a(href='/pelicans') pelicans
    li
      a(href='/pistons') pistons
    li
      a(href='/raptors') raptors  
    li
      a(href='/rockets') rockets
    li
      a(href='/sixers') sixers
    li 
      a(href='/spurs') spurs
    li 
      a(href='/suns') suns
    li
      a(href='/thunder') thunder
    li
      a(href='/timberwolves') timberwolves
    li 
      a(href='/blazers') trailblazers
    li 
      a(href='/warriors') warriors
    li 
      a(href='/wizards') wizards
