html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
  body 
    .col-xs-12
      a(href='/') Back to all teams
    .col-xs-12
      h1 Teams
       table
        tbody
         each team in schoolData
          tr 
           td 
            a(href='#{team.link}', target='_blank')= team.teamName
