html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  body
    .container-fluid
      .row.mb-4
        .col-12
          h1 Some times things just don't work out.
          a.btn.btn-light(href='/') Head Home
            |  »
      .row
        .col-12
          img(src='https://usatftw.files.wordpress.com/2013/10/17-chris-bosh-high-five-fail-gif.gif?w=1000')
