html
  head
    meta(http-equiv="content-type", content="text/html; charset=utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
  body
    section 
      .jumbotron
        h1 NBA Stats
    section
      include ./includes/teams.jade
    section
      if(schoolData)
        include ./includes/ncaa.jade
        
