html
  head
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

  body
    section
      include ./includes/nav.jade
    section 
      h1= title
    section 
      if(jsonData)
        include ./includes/stats.jade
