html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .container-fluid
      .row.mb-4.mt-2
        .col-12
          a(href='/')
            i.fa.fa-arrow-left
            |  Back to all teams
      .row
        .col-12
          h1 Teams
      .row
        .col-12
          ul.list-group
          each team in schoolData
            li.list-group-item
              a(href=`${team.link}`, target='_blank')= team.teamName
