.navbar {
  background-color: #006BB6;
  color: white;
}

.ncaa {
  padding: 30px;
  max-width: 180px;
}

.nba-team {
  max-width: 150px;
}

.background {
  background-color: #006BB6;
  z-index: -1;
}

.fa-spinner {
  color: white;
}

.loading {
  position: absolute;
  width: 100%;
  text-align: center;
  transform: translate(0, 100%)
}

.hidden {
  visibility: hidden;
}

h1, h3, th, td {
  color: #072840;
}

.btn-secondary {
  color: #072840;
}

.player-pic {
  max-height: 100px;
}

#back {
  color: #006BB6;
  cursor: pointer;
}

#back:hover {
  text-decoration: underline;
}
