.navbar {
  background-color: #006BB6;
  color: white;
}

.nba-team {
  max-width: 150px;
}

h1, h3, th, td {
  color: #072840;
}

.btn-secondary {
  color: #072840;
}

.player-pic {
  max-height: 100px;
}

.bio {
  max-height: 300px;
  overflow: scroll;
}

#back {
  color: #006BB6;
  cursor: pointer;
}

#back:hover {
  text-decoration: underline;
}
